In [ ]:
import pandas as pd

In [ ]:
#persiapan data frame dictionary

data = {'nama': ['Devi Nur', 'Denz sixteen', 'Danzly Sakurai'], 'tempat_kelahiran': ['Bogor, Jawa Barat', 'Ngawi, Jawa Timur', 'Osaka, Jepang']}
df = pd.DataFrame(data)
df

             nama   tempat_kelahiran
0        Devi Nur  Bogor, Jawa Barat
1    Denz sixteen  Ngawi, Jawa Timur
2  Danzly Sakurai      Osaka, Jepang

In [ ]:
#mau memecah kolom menjadi nama depan dan nama belakang
#di split berdasarkan spasi
#pararel expand=True untuk mengizinkan output berbentuk kolom / multiply column

df[['nama_depan', 'nama_belakang']] = df['nama'].str.split(' ', expand=True)
df

             nama   tempat_kelahiran nama_depan nama_belakang
0        Devi Nur  Bogor, Jawa Barat       Devi           Nur
1    Denz sixteen  Ngawi, Jawa Timur       Denz       sixteen
2  Danzly Sakurai      Osaka, Jepang     Danzly       Sakurai

In [ ]:
#memecah nama kota dan provinsi
#yang membedakan dengan yang diatas adalah dengan memakai koma

df[['kota', 'provinsi']] = df['tempat_kelahiran'].str.split(',', expand=True)
df

,nama,tempat_kelahiran,nama_depan,nama_belakang,kota,provinsi
0,Devi Nur,"Bogor, Jawa Barat",Devi,Nur,Bogor,Jawa Barat
1,Denz sixteen,"Ngawi, Jawa Timur",Denz,sixteen,Ngawi,Jawa Timur
2,Danzly Sakurai,"Osaka, Jepang",Danzly,Sakurai,Osaka,Jepang

In [ ]:
#menggunakan unstack() pada multiple indexes dataframe
#menata ulang dataframe dengan multiple indexes menggunakan unstack()

import pandas as pd

In [ ]:
df = pd.read_csv('./titanicfull (1).csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S

In [ ]:
#mengelompokkan data kedalam beberapa kelompok, disini kita kelompokkan berdasarkan sex dan pclass
#data yang akan kita amati yaitu data survived nya 1 untuk selamat 0 untuk tidak selamat
#rata2 nilai yang selamat
#to_frame untuk mempercantik tampilan

df.groupby(['sex', 'pclass'])['survived'].mean().to_frame()

               survived
sex    pclass
female 1       0.965278
       2       0.886792
       3       0.490741
male   1       0.340782
       2       0.146199
       3       0.152130

In [ ]:
#menata ulang dataframe dengan multiple indexes
#cara penempatan index sudah berbeda

df.groupby(['sex', 'pclass'])['survived'].mean().unstack()

pclass         1         2         3
sex
female  0.965278  0.886792  0.490741
male    0.340782  0.146199  0.152130

In [ ]:
#resampling pada data deret waktu (time series)

import pandas as pd
import numpy as np

In [ ]:
#365 untuk hari, 24 untuk jam
#interval waktu berdasarkan jam

n_rows = 365 * 24
n_cols = 2
cols = ['kolom1', 'kolom2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq = 'H')
df

/usr/local/lib/python3.7/dist-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     kolom1  kolom2
2000-01-01 00:00:00      10       3
2000-01-01 01:00:00      12      13
2000-01-01 02:00:00       2       7
2000-01-01 03:00:00      18      14
2000-01-01 04:00:00       4       7
...                     ...     ...
2000-12-30 19:00:00      13       4
2000-12-30 20:00:00      15      11
2000-12-30 21:00:00      10       2
2000-12-30 22:00:00      12      15
2000-12-30 23:00:00      15       6

[8760 rows x 2 columns]

In [ ]:
#resampling data dengan interval monthly dengan .resample
#interval waktu berdasarkan bulan

df.resample('M')['kolom1'].sum().to_frame()

            kolom1
2000-01-31    7383
2000-02-29    6823
2000-03-31    7455
2000-04-30    7048
2000-05-31    7250
2000-06-30    7368
2000-07-31    7278
2000-08-31    7548
2000-09-30    7140
2000-10-31    7356
2000-11-30    7145
2000-12-31    7248

In [ ]:
#resampling data dengan interval dengan .daily
#interval waktu berdasarkan hari

df.resample('D')['kolom1'].sum().to_frame()

            kolom1
2000-01-01     216
2000-01-02     220
2000-01-03     221
2000-01-04     273
2000-01-05     196
...            ...
2000-12-26     236
2000-12-27     223
2000-12-28     230
2000-12-29     272
2000-12-30     218

[365 rows x 1 columns]

In [ ]:
#membentuk dummy dataframe

import pandas as pd
import numpy as np

In [ ]:
#membentuk dataframe dari dictionary

pd.DataFrame({'cols1':[1,2,3,4], 'cols2':[5,6,7,8]})

   cols1  cols2
0      1      5
1      2      6
2      3      7
3      4      8

In [ ]:
#membentuk data frame dari numpy array
#numpy array ini bisa kita gunakan untuk membentuk dataframe baru

n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[ 5,  2,  1],
       [11, 12, 10],
       [ 9, 17, 19],
       [ 7,  5, 11],
       [ 3, 13, 16]])

In [ ]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0   5   2   1
1  11  12  10
2   9  17  19
3   7   5  11
4   3  13  16

In [ ]:
#membentuk dataframe dengan memanfaatkan pandas.util.testing
pd.util.testing.makeDataFrame().head()

                   A         B         C         D
FpGLBd9zo4  1.119042  0.063569 -1.503086  0.524756
YS1aZcjM0k -0.853043  0.648069  0.837087  0.116390
dsj2N58lvn  0.560352  1.909932  0.428869 -1.816231
q44adj2YvT -1.003561  0.890456  0.184502  0.041612
z3e4HzLpTa -0.832904  1.512302 -1.094826  1.183736

In [ ]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [ ]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03 -1.134566 -0.879209  2.410768  0.284684
2000-01-04  0.618911  1.267980 -2.122280  0.557982
2000-01-05  0.344796 -0.091000 -0.466558 -2.400903
2000-01-06  1.366355  0.034534  1.709259 -0.935817
2000-01-07  0.279140 -0.639827  0.909090 -0.308327

In [ ]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
4LXzkdrVzk  2.162009  1.964504       NaN -0.749255
gg16E6QiBD       NaN  2.006605 -0.347063  1.702093
QGDmBKytbg -0.401671 -0.454361  1.399381 -0.670705
Kt0XevMFBU -0.581638  0.177570 -1.641324  0.979096
kgKStXrykQ       NaN -0.889784 -0.401266 -0.534098